:root {
  font-family: Roboto, Nunito, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --page-dark: rgb(26, 26, 26);
  --button-dark: rgb(50, 50, 50);
  --page-grey: rgb(158, 158, 158, 0.5);
  --page-light: white;
  --page-navy: rgb(35, 35, 119);
  
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}

/* Nav */ 

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;

  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
  background-color: var(--page-light);

  transition: all ease-in-out 0.2s;
}

.nav-container:hover {
  background: none;
}

.nav-title {
  font-size: 3rem;
  padding-left: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

.nav-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  font-size: 2rem;
  padding-left: 0;
}

.shopping-cart {
  padding-right: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

.nav-button {
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  color: var(--page-dark);
}

@media (max-width: 900px) {
  .nav-list {
    gap: 1rem;
  }
}

/* Hero */

.hero-container {
  display: flex;
  justify-content: flex-end;
  color: var(--page-light);
}

.hero-image {
  max-width: 100%;
  height: auto;
}

.hero-title, .hero-subtitle {
  margin: 0;
  margin-right: 5%;
  text-align: right;
}

.hero-title {
  top: 10vw;
  font-size: 4vw;
  position: absolute;
}

.hero-subtitle {
  top: 20vw;
  font-size: 2vw;
  position: absolute;
}

.shop-now {
  position: absolute;
  top: 25vw;
  color: var(--page-light);
  border: none;
  border-radius: 10px;
  font-size: 1.5vw;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 5%;
  background-color: var(--button-dark);
  cursor: pointer;
}

@media (max-width: 700px) {
  .hero-container {
    justify-content: center;
  }
  
  .hero-title, .hero-subtitle, .shop-now {
    text-align: center;
  }

  .hero-title {
    top: 25vw;
    font-size: 8vw;
  }

  .hero-subtitle {
    top: 45vw;
    font-size: 4vw;
  }

  .shop-now {
    top: 55vw;
    font-size: 3vw;
  }
}