:root {

  font-family: Roboto, 'Nunito', system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --page-dark: rgb(26, 26, 26);
  --button-dark: rgb(50, 50, 50);
  --page-grey: rgb(158, 158, 158, 0.5);
  --page-light: white;
  --page-navy: rgb(35, 35, 119);
  
  --matching-gym-sets-background: #8BAEC412;
  --matching-gym-sets-shadow: #444633;

  --footer-background: #262945;
  --footer-text: #AAAAAA;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}

/* Nav */ 

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;

  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
  background-color: var(--page-light);

  transition: all ease-in-out 0.2s;
}

.nav-title {
  font-size: 3rem;
  padding-left: 4rem;
  margin-top: 0;
  margin-bottom: 0;
}

.nav-list {
  display: flex;
  justify-content: center;
  gap: 3rem;
  list-style: none;
  font-size: 2rem;
  padding-left: 0;
}

.shopping-cart {
  padding-right: 4rem;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--page-dark);
  cursor: pointer;
}

.nav-button {
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  color: var(--page-dark);
}

@media (max-width: 900px) {
  .nav-list {
    gap: 1rem;
    font-size: 1.5rem;
  }

  .nav-title, .shopping-cart {
    font-size: 2rem;
  }
}

/* Hero */

.hero-container {
  display: flex;
  justify-content: flex-end;
  color: var(--page-light);
}

.hero-image {
  max-width: 100%;
  height: auto;
  filter: saturate(60%);
}

.hero-title, .hero-subtitle {
  margin: 0;
  margin-right: 5%;
  text-align: right;
}

.hero-title {
  top: 10vw;
  font-size: 4vw;
  position: absolute;
}

.hero-subtitle {
  font-family: 'Nunito', Roboto, Inter, sans-serif;
  font-weight: 400;
  top: 20vw;
  font-size: 2vw;
  position: absolute;
}

.shop-now {
  position: absolute;
  top: 24vw;
  color: var(--page-light);
  box-shadow: 1px 1px 30px 1px rgba(255, 255, 255, 0.49);
  border-radius: 30px;
  font-size: 1.5vw;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 5%;
  background-color: var(--button-dark);
  cursor: pointer;
  text-decoration: none;
}

@media (max-width: 700px) {
  .hero-container {
    justify-content: center;
  }
  
  .hero-title, .hero-subtitle, .shop-now {
    text-align: center;
    margin-right: 0;
  }

  .hero-title {
    top: 25vw;
    font-size: 8vw;
  }

  .hero-subtitle {
    top: 45vw;
    font-size: 4vw;
  }

  .shop-now {
    top: 55vw;
    font-size: 3vw;
  }
}

/* New in */

.new-in-title {
  text-align: center;
  margin-top: 10rem;
  font-size: 2vw;
  font-weight: 500;
}

.new-in-items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  gap: 1rem;
  margin: 0;
}

.shoes-container {
  display: flex;
  flex-direction: column;
}

.shoes-image {
  max-width: 20rem;
  border: 1px solid var(--page-dark);
  border-radius: 30px;
}

.shoes-text {
  text-align: center;
  font-weight: 500;
  font-size: 1vw;
}

@media (max-width: 1100px) {
  .new-in-items {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .new-in-items {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .shoes-text {
    font-size: 3.5vw;
  }
  .new-in-title {
    font-size: 5vw;
  }
}

@media (max-width: 420px) {
  .new-in-items {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .shoes-text {
    font-size: 3vw;
  }
}

/* Matching gym sets */

.matching-sets-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
  gap: 4rem;
  margin-top: 7.5rem;
}

.matching-sets-image {
  max-width: 40rem;
  box-shadow: 25px 20px 0px var(--matching-gym-sets-shadow);
}

.matching-sets-text {
  display: flex;
  flex-direction: column;
  color: var(--page-dark);
}

.matching-sets-title {
  text-align: right;
  font-size: 4vw;
}

.matching-sets-subtitle {
  font-family: 'Nunito', Roboto, Inter, sans-serif;
  font-size: 2vw;
  text-align: right;
}

.matching-sets-shop {
  font-family: 'Nunito', Roboto, Inter, sans-serif;
  font-weight: 600;
  font-size: 1.5vw;
  color: var(--page-dark);
  float: right;
  text-decoration: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  border: solid 2px var(--page-dark);
  border-radius: 30px;
  transition: all ease-in-out 0.2s;
}

.matching-sets-shop:hover {
  background-color: var(--matching-gym-sets-shadow);
  color: var(--page-light);
}

@media (max-width: 900px) {
  .matching-sets-container {
    flex-direction: column;
  }
  .matching-sets-text {
    justify-content: flex-start;
  }
  .matching-sets-image {
    max-width: 30rem;
  }
}

@media (max-width: 600px) {
  .matching-sets-title {
    font-size: 7vw;
  }
  .matching-sets-subtitle {
    font-size: 4vw;
  }
  .matching-sets-shop {
    font-size: 3vw;
  }
}

/* Categories */

.categories-title {
  text-align: center;
  margin-top: 10rem;
  font-size: 2vw;
  font-weight: 500;
}

.categories-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 1rem;
  margin: 0;
}

.category-image {
  max-width: 40rem;
  height: 50rem;
}

.category-text {
  text-align: center;
  font-size: 1.5vw;
  font-weight: 500;
}


@media (max-width: 1100px) {
  .categories-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .categories-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .categories-title {
    font-size: 5vw;
  }

  .category-text {
    font-size: 4vw;
  }
}

/* Footer */
/* Most of CSS for Footer has been done directly inside React */

@media (max-width: 900px) {
  .footer-title {
    font-size: 5vw;
  }
}

/* Animations */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.item, 
.loading-shop,
.shop-title {
  transition: all ease-in-out 0.2s;
  animation: fadeIn 1s;
}

.item {
  cursor: pointer;
  border-radius: 20px;
}

.item:hover {
  transform: scale(1.025);
}

.hero-image {
  animation: fadeIn 0.5s;
}

.hero-title {
  animation: fadeIn 2s;
}

.hero-subtitle {
  animation: fadeIn 2.5s;
}

.shop-now {
  animation: fadeIn 3s;
}

/* Shop */ 

.your-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.checkout {
  margin-top: 10%;
  color: var(--page-light);
  background-color: var(--matching-gym-sets-shadow);
  border-radius: 10px;
  font-size: 1.5vw;
  padding: 1rem;
  cursor: pointer;
  border: none;
}

.shop-items-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 15%;
}

.item-notification {
  display: none;
  background-color: var(--page-dark);
  color: var(--page-light);
  padding: 1.5rem;
  position: fixed;
  top: 10vh;
  right: 5vw;
  border-radius: 10px;
  font-size: 1.5vw;
  font-weight: 500;
  transition: all ease-in-out 0.2s;
  animation: fadeIn 0.25s;
  z-index: 1;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.item-inputs {
  display: flex;
  gap: 1rem;
}

.add-to-cart {
  text-decoration: none;
  background-color: var(--page-dark);
  color: var(--page-light);
  border-radius: 10px;
  border: none;
  padding: 1rem;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: var(--footer-background);
}

@media (max-width: 1100px) {
  .shop-items-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .item-notification {
    font-size: 2.5vw;
  }
}

@media (max-width: 700px) {
  .shop-items-container{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}